

.menu{

position: relative;
}
.image1{
width: 10%; 
height: 10%;
}

#infos{
display: flex;
justify-content: space-between;
align-items: center;
color: white;
padding: 10px;
border-bottom: 3px solid rgba(0, 0, 0, 0.494);}

.infosperso h1{
font-size: 22px;
}

.infosperso h2{
font-size: 22px;
}
.bio{

vertical-align: text-bottom; 

position: relative;
padding:2rem;

}
.bio h1:hover{
    color: black;;
    border-bottom: 3px solid #1f9cc2;

}
.bio p{
    font-size: 18px;
    
}
body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("IMAGE/bel-homme-qui-pointe-vers-cote.jpg");
    color: black;  
    background-repeat: no-repeat;
   
 
}


.fond{
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
}